proprietary/system/vendor/firmware/cypress-touchkey.bin
proprietary/system/vendor/lib/libwvdrm_L3.so
proprietary/system/vendor/lib/libWVStreamControlAPI_L3.so
proprietary/system/vendor/lib/drm/libdrmwvmplugin.so
proprietary/system/vendor/lib/libwvm.so
proprietary/system/framework/com.google.android.media.effects.jar
proprietary/system/framework/com.google.android.maps.jar
proprietary/system/framework/com.google.widevine.software.drm.jar
proprietary/system/usr/srec/en-US/metadata
proprietary/system/usr/srec/en-US/endpointer_voicesearch.config
proprietary/system/usr/srec/en-US/endpointer_dictation.config
proprietary/system/usr/srec/en-US/ep_acoustic_model
proprietary/system/app/GoogleServicesFramework/GoogleServicesFramework.apk
proprietary/system/app/GooglePartnerSetup/GooglePartnerSetup.apk
proprietary/system/app/GoogleTTS/GoogleTTS.apk
proprietary/system/app/OneTimeInitializer/OneTimeInitializer.apk
proprietary/system/app/CarHomeGoogle/CarHomeGoogle.apk
proprietary/system/app/CalendarGoogle/CalendarGoogle.apk
proprietary/system/app/talkback/talkback.apk
proprietary/system/app/Music2/Music2.apk
proprietary/system/app/Books/Books.apk
proprietary/system/app/Street/Street.apk
proprietary/system/app/VoiceSearchStub/VoiceSearchStub.apk
proprietary/system/app/Phonesky/Phonesky.apk
proprietary/system/app/GoogleEars/GoogleEars.apk
proprietary/system/app/Currents/Currents.apk
proprietary/system/app/GenieWidget/GenieWidget.apk
proprietary/system/app/Maps/Maps.apk
proprietary/system/app/GoogleBackupTransport/GoogleBackupTransport.apk
proprietary/system/app/MediaUploader/MediaUploader.apk
proprietary/system/app/GoogleLoginService/GoogleLoginService.apk
proprietary/system/app/Videos/Videos.apk
proprietary/system/app/Thinkfree/Thinkfree.apk
proprietary/system/app/GoogleFeedback/GoogleFeedback.apk
proprietary/system/app/PlusOne/PlusOne.apk
proprietary/system/app/GoogleContactsSyncAdapter/GoogleContactsSyncAdapter.apk
proprietary/system/app/NetworkLocation/NetworkLocation.apk
proprietary/system/app/Magazines/Magazines.apk
proprietary/system/app/Talk/Talk.apk
proprietary/system/app/ChromeBookmarksSyncAdapter/ChromeBookmarksSyncAdapter.apk
proprietary/system/app/SetupWizard/SetupWizard.apk
proprietary/system/app/GoogleEarth/GoogleEarth.apk
proprietary/system/app/GmsCore/GmsCore.apk
proprietary/system/media/bootanimation.zip
proprietary/system/media/PFFprec_600.emd
proprietary/system/media/audio/ringtones/RadiationOrchestration.ogg
proprietary/system/media/audio/ringtones/Radiation.ogg
proprietary/system/media/audio/ringtones/RobotsforEveryone.ogg
proprietary/system/media/LMprec_508.emd
proprietary/system/media/video/Sunset.240p.mp4
proprietary/system/media/video/AndroidInSpace.480p.mp4
proprietary/system/media/video/Sunset.480p.mp4
proprietary/system/media/video/AndroidInSpace.240p.mp4
proprietary/system/etc/permissions/com.google.widevine.software.drm.xml
proprietary/system/etc/permissions/com.google.android.media.effects.xml
proprietary/system/etc/permissions/com.google.android.maps.xml
proprietary/system/etc/permissions/features.xml
proprietary/system/etc/preferred-apps/google.xml
proprietary/system/etc/preferred-apps/preferred-apps
proprietary/system/etc/preferred-apps/preferred-apps/google.xml
proprietary/system/etc/updatecmds/google_generic_update.txt
proprietary/system/lib/libfilterpack_facedetect.so
proprietary/system/lib/libgcomm_jni.so
proprietary/system/lib/libvorbisencoder.so
proprietary/system/lib/libvideochat_stabilize.so
proprietary/system/lib/libgoogle_endpointer_jni.so
proprietary/system/lib/libvideochat_jni.so
proprietary/system/lib/libpatts_engine_jni_api.so
proprietary/system/lib/libspeexwrapper.so
proprietary/system/lib/libvoicesearch.so
proprietary/system/lib/libfrsdk.so
proprietary/system/lib/libearthmobile.so
proprietary/tools/soju-jro03e-factory-c9f5a67d.tgz
proprietary/tools/log.txt
